* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
}

body {
  background: url(assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.clock-container {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.clock {
  font-size: 7rem;
  font-weight: 600;
}

.date,
.day {
  font-size: 1.3rem;
}
